<!DOCTYPE html>
<html>
<head>
  <title>Cadastro</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
</head>
<body>
  <h1>Cadastro</h1>
  <form method="POST" action="/cadastro">
    <input type="text" name="username" placeholder="Nome de usuário">
    <input type="password" name="password" placeholder="Senha">
   
    <input type="text" id="cpf" name="cpf" placeholder="Digite o CPF" />

    <script>
        // Adicione a máscara ao campo de CPF usando Inputmask
        $(document).ready(function() {
            $('#cpf').inputmask("999.999.999-99");
        });
    </script>

    <input type="text" name="telefone" placeholder="Telefone">
    <input type="text" name="email" placeholder="email">
    <select id="sexo" name="sexo">
        <option value="masculino">Masculino</option>
        <option value="feminino">Feminino</option>
        <option value="outro">Outro</option>
    </select>
    <input type="text" name="CEP" placeholder="Digite o CEP (ex: 12345-678)" />
    <button type="submit">Cadastrar</button>
  </form>
</body>
</html>
